############################################################
# Logs gerais
############################################################
# Arquivos de log comuns
*.log
*.log.*
*.out
*.err

# Pastas de log comuns
logs/
log/
**/logs/
**/log/

############################################################
# Arquivos específicos de macOS
############################################################
.DS_Store
._*
.Spotlight-V100
.Trashes
.fseventsd

############################################################
# Arquivos específicos do Windows
############################################################
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

############################################################
# Arquivos temporários e de backup (Linux / gerais)
############################################################
*~
*.swp
*.swo
.Trash-*
